.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
}

.close:before, .close:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 22px;
  width: 3px;
  border: solid 1px #333;
  background: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
